* {
    padding: 0;
    margin: 0;
}
body {
    background-color: whitesmoke;
    color: rgb(17, 17, 17);
}
.darkmode {
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
}
.w {
    width: 60%;
    margin: 0 auto;
}
.rchiezbcirem {
    font-size: 2em;
    font-family: quantum;
}
a {
    text-decoration: inherit;
    color: inherit;
}
textarea {
    width: 100%;
    border: 1px solid black;

}
.title {
    text-align: center;
    margin: 3em 0;
}
.screen {
    border: 2px solid gray;
    min-height: 10em;
    margin: 0 auto;
    word-wrap: break-word;
}
.bg-bar {
    height: 2rem;
    background: gray;
    margin: 1em 0;
}
.bar {
    width: 0%;
    height: 100%;
    background-color: white;
}
button {
    background-color: black;
    color: whitesmoke;
    padding: 1em;
    border: 2px solid orange;
    border-radius: 1em;

}
.flex {
    display: flex;
    justify-content: center;
}
.circle {
    height: 3em;
    width: 3em;
    background-color: lightgreen;
    border-radius: 100%;
}